*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


.slide{
    width: 100%;
    margin: auto;
    position: absolute;
}

.main{
    width:60%;
    height: 550px;
    margin: auto;
    margin-top:5rem;
    border:0.1rem solid black ;
    box-shadow: 0px 0px 3px grey;
    position: relative;
    overflow: hidden;
}


.nav{
    text-align: center;
}

.nav button{
    margin:1.5rem;
    font-size:2rem;
    padding:0.5rem;
}